@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

$defaultColor: #d0d0d0;

body {
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans Condensed", sans-serif;  
  background: #111;
  color: $defaultColor;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  padding: .25em 1em;
  h1 {
    margin: 0;
    user-select: none;
  }
}

#scene {
  margin: 0;
  background: #fff;
  border: 1px solid yellowgreen;
}

#image-container {
  display: none;
}

#stats {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#monitor {
  position: fixed;
  bottom: 0;
  left: 100px;
  padding: 0;
  border: 1px solid white;
}
